@import
url('https://fonts.googleapis.com/css?family=Lora&subset=latin-ext');
* { box-sizing: border-box;}
body { font-family: 'Lora', cursive;
font-size: 16px;
color:#333; 
margin: 0;
}
header {background-image: radial-gradient(circle, #72d6c9, #54d1ed, #438543, #8d4e53, #f29cd9);
height: 80px;
}
.clear {clear: both;}
.nav-logo {color: #e00986;
font-size: 25px;
margin: 0;
padding-left: 15px;
float: left;
line-height: 80px;}